{% extends "../workbench/master.html" %}
{% block title %}考勤机{% end %}
{% block header %}
<script type="text/javascript" src="/ajax/tinyms.validwork.FingerAndTaskAssign.js"></script>
<script type="text/javascript">
    function download_finger_tpl(elem,v){
        {% if auth({"tinyms.validwork.entity.ValidWorkFingerTemplate.edit"}) %}
            var params_ = {machine_id:v}
            validwork.controller.FingerAndTaskAssign.push_finger_tpl_to_machine(params_,function(b,data){
                if(b){
                    var msg = data[0];
                    if (msg == "success") {
                        toastr.success("推送成功!")
                    } else {
                        toastr.error("推送失败!")
                    }
                }else {
                   toastr.error("推送失败!")
                }
            });
        {% end %}
    }
    function datatable_render_actionbar(id,k,v,row){
        var action_btns = "";
        if(id=="ValidWorkMachineDataTable"){
              {% if auth({"tinyms.validwork.entity.ValidWorkFingerTemplate.edit"}) %}
              action_btns += '<a class="btn-link" title="推送指纹到考勤机" onclick="download_finger_tpl(this,' + v + ');"><i class="icon-download"></i></a>';
              {% end %}
        }
        return action_btns;
    }
</script>
{% end %}
{% block workspace %}
<section class="main padder">
    <div class="clearfix">
        <h4><i class="icon-book"></i>考勤机</h4>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">考勤机列表</div>
                <div class="panel-body">
                    {% module DataTable(id="ValidWorkMachineDataTable",
                                        entity="validwork.entity.ValidWorkMachine",
                                        cols=['ip','flag','last_connect_time'],
                                        titles=['IP','描述','最后连接时间'],
                                        autoform=False,
                                        search_fields = ["ip","flag"],
                                        search_tip = "可搜索IP、描述",
                                        point_list = "tinyms.validwork.entity.ValidWorkMachine.list",
                                        point_update = "tinyms.validwork.entity.ValidWorkMachine.update"
                                        ) %}
                    {% module panel_start("ValidWorkMachineDataTable") %}
                    {% module datagrid_form_start("ValidWorkMachineDataTable") %}

                    <div class="form-group">
                    <label for="flag" class="col-lg-3 control-label">描述</label>
                    <div class="col-lg-8">
                    <input type="text" class="form-control" id="flag" name="flag"  >
                    </div>
                    </div>

                    {% module datagrid_form_end("ValidWorkMachineDataTable","validwork.entity.ValidWorkMachine") %}
                    {% module panel_end() %}
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}