{% extends "../workbench/master.html" %}
{% block title %}考勤月报表{% end %}
{% block header %}
{% end %}
{% block workspace %}
<section class="main padder">
    <div class="clearfix">
        <h4><i class="icon-bar-chart"></i>报表</h4>
        <div class="block">
            <div class="btn-group">
                <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">考勤月报表 <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/validwork/report/day_details"><i class="icon-file-text"></i> 考勤日报表</a></li>
                    <li><a href="/validwork/report/month_groupby"><i class="icon-file-text"></i> 考勤月报表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">考勤月报表</div>
                <div class="panel-body">
                    {% module DataView(id="ValidWorkMonthReportDataView",
                    view="validwork.view.report.MonthReportView",
                    cols=['code','name','late_total','early_leave_total','no_work_total','overtime_total','askforleave_total1','askforleave_total2','askforleave_total3','org_name'],
                    titles=['工号','姓名','迟到(次)','早退(次)','旷工(天)','加班(小时)','事假(天)','病假(天)','其它假(天)','部门'],
                    search_tip = "可搜索姓名",
                    point_list = "tinyms.validwork.report.MonthReportView.list"
                    ) %}
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}