<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading bg bg-primary">
              <a class="btn btn-link pull-right nav"></a>
              基本
            </header>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="media">
                  姓名: <input name="u_usr_name" id="u_usr_name" type="text"/>
                </div>
              </li>
            </ul>
          </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading bg bg-primary">
              <a class="btn btn-link pull-right nav"></a>
              密码
            </header>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="media">
                  原密码: <input name="_usr_old_pwd" id="_usr_old_pwd" type="text"/>
                </div>
              </li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="media">
                  新密码: <input name="_usr_new_pwd" id="_usr_new_pwd" type="text" minlength="8"/>
                </div>
              </li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="media">
                  重复新密码: <input name="_usr_new_repwd" id="_usr_new_repwd" type="text" minlength="8" equalTo="#_usr_new_pwd"/>
                </div>
              </li>
            </ul>
          </section>
    </div>
</div>
